.role-selector {
  position: absolute;
  right: 15px;
  top: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.role-selector select {
  margin-left: 10px;
  min-height: 40px;
  min-width: 180px;
}
@media only screen and (max-width: 600px) {
  .role-selector {
    position: inherit;
    margin: 15px;
    margin-bottom: 30px;
  }
}
